# Backend
be/.gradle/
be/.kotlin/
be/build/
be/bin/
be/target/

# Frontend (Flutter)
fe/.dart_tool/
fe/.flutter-plugins
fe/.flutter-plugins-dependencies
fe/.pub/
fe/.pub-cache/
fe/build/

# Node-based tooling
**/node_modules/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temp files
*.swp
*.swo
*~
