# ===========================================
# Build Artifacts
# ===========================================

# Backend
be/.gradle/
be/build/
be/bin/

# Flutter
fe/build/
fe/.dart_tool/

# ===========================================
# IDE
# ===========================================
.idea/
.vscode/
*.iml

# ===========================================
# OS
# ===========================================
.DS_Store
Thumbs.db

# ===========================================
# Logs
# ===========================================
*.log

# ===========================================
# Temp files
# ===========================================
*.swp
*.swo
*~
